### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
#.vscode/
#Cache folder
#.alcache/
#Symbols folder
#.alpackages/
#Snapshots folder
#.snapshots/
#Testing Output folder
venv/
#Extension App-file
#*.app
#Rapid Application Development File
#rad.json
#Translation Base-file
#*.g.xlf
#License-file
#*.flf
#Test results file
#TestResults.xml
# Ignorer le fichier de variables d'environnement
.env

# Ignorer la base de données SQLite si vous revenez dessus
db.sqlite3

# Ignorer les fichiers compilés Python
__pycache__/
*.pyc
